// || Typography
$header-font-family: "Montserrat", sans-serif;
$body-font-family: "Roboto", sans-serif;

// || Colors
// Text
$color-text-body: #333333;
$color-text-accent--primary: #0437f2;

// Body background
$color-background--primary: #f7f7f7;

// General
$color-general-accent--primary: #a1b7ff;
